@use 'sass:color';
@use '../variables' as var;
@use "../mixins/a11y";

// SVG highlights when the "Show Highlights" toggle is turned off.
.hypothesis-svg-highlight {
  fill: transparent;
}

// `hypothesis-highlights-always-on` is a class that is toggled on the root
// of the annotated document when highlights are enabled/disabled.
.hypothesis-highlights-always-on {
  .hypothesis-svg-highlight {
    &.hypothesis-highlight-yellow {
      fill: color.change(var.$color-highlight-yellow, $alpha: 0.4);
    }
    &.hypothesis-highlight-green {
      fill: color.change(var.$color-highlight-green, $alpha: 0.4);
    }    
    &.hypothesis-highlight-purple {
      fill: color.change(var.$color-highlight-purple, $alpha: 0.4);
    }    
    &.hypothesis-highlight-red {
      fill: color.change(var.$color-highlight-red, $alpha: 0.4);
    }    

    &.is-opaque {
      &.hypothesis-highlight-yellow {
        fill: var.$color-highlight-yellow;
      }
      &.hypothesis-highlight-green {
        fill: var.$color-highlight-green;
      }    
      &.hypothesis-highlight-purple {
        fill: var.$color-highlight-purple;
      }    
      &.hypothesis-highlight-red {
        fill: var.$color-highlight-red;
      }    
    }
  }

  .hypothesis-highlight {
    &.hypothesis-highlight-yellow {
      background-color: color.change(var.$color-highlight-yellow, $alpha: 0.4);
    }
    &.hypothesis-highlight-green {
      background-color: color.change(var.$color-highlight-green, $alpha: 0.4);
    }    
    &.hypothesis-highlight-purple {
      background-color: color.change(var.$color-highlight-purple, $alpha: 0.4);
    }    
    &.hypothesis-highlight-red {
      background-color: color.change(var.$color-highlight-red, $alpha: 0.4);
    }    

    // For PDFs, we still create highlight elements to wrap the text but the
    // highlight effect is created by another element.
    &.is-transparent {
      background-color: transparent;
    }

    cursor: pointer;

    // Make highlights visible to screen readers.
    // See also - https://developer.paciellogroup.com/blog/2017/12/short-note-on-making-your-mark-more-accessible/.
    &::before {
      @include a11y.screen-reader-only;

      // nb. The leading/trailing spaces are intended to ensure the text is treated
      // as separate words by assisitve technologies from the content before/after it.
      content: ' annotation start ';
    }
    &::after {
      @include a11y.screen-reader-only;
      content: ' annotation end ';
    }

    // Give a highlight inside a larger highlight a different color to stand out.
    & .hypothesis-highlight {
      &.hypothesis-highlight-yellow {
        background-color: color.adjust(color.change(var.$color-highlight-yellow, $alpha: 0.4), $red: -50, $green: -50, $blue: -50);
      }
      &.hypothesis-highlight-green {
        background-color: color.adjust(color.change(var.$color-highlight-green, $alpha: 0.4), $red: -50, $green: -50, $blue: -50);
      }    
      &.hypothesis-highlight-purple {
        background-color: color.adjust(color.change(var.$color-highlight-purple, $alpha: 0.4), $red: -50, $green: -50, $blue: -50);
      }    
      &.hypothesis-highlight-red {
        background-color: color.adjust(color.change(var.$color-highlight-red, $alpha: 0.4), $red: -50, $green: -50, $blue: -50);
      }    

      &.is-transparent {
        background-color: transparent;
      }

      // In document viewers where the highlight is drawn _on top of_ the text
      // (eg. PDF.js) too many nested highlights can make the underlying text unreadable.
      // Therefore we make any highlights that are 3+ levels deep transparent.
      //
      // In web pages highlights are drawn _underneath_ the text so nested
      // highlights don't reduce text contrast as much, but we still only use
      // two levels of highlight color for consistency.
      //
      // See https://github.com/hypothesis/client/issues/1995.
      & .hypothesis-highlight {
        background-color: transparent;
      }
    }

    // When an annotation card is hovered in the sidebar, the corresponding
    // highlights are shown with a "focused" color.
    &.hypothesis-highlight-focused {
      background-color: var.$color-highlight-focused !important;

      .hypothesis-highlight {
        background-color: transparent !important;
      }
    }
  }
}